/* Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #5350f3, #252525);
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.login-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.login-container form {
  width: 100%;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-container label {
  display: block;
  margin-bottom: 1rem;
}

.login-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background: #f5f5f5;
  color: #333;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #9b3506;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background: #ff6f00;
}

.to-register-button {
  margin-top: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.to-register-button:hover {
  background: #0056b3;
}
